# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Data Science Tools
- Arithmetic expression to multiply then add integers

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Spark       |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
print(f"200 minutes is {200/60} hours ")

200 minutes is 3.3333333333333335 hours

## Author 
Mariusz